body {
  background-image: url(https://wallpaperaccess.com/full/1245456.jpg);
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-size:cover;
}

container {
  max-width: 200px;
  margin: 0 auto;
  padding: 5px;
}

/* Header Styles */
header {

  color: #ffffff;
  text-align: center;
 background-repeat:no-repeat;
 object-fit:cover;
 background-position:15em;
 font-size: xx-large;
}
.a{
  text-align: right;
  width: 30%;
}
.aaa{
font-size: 1.5rem;
color: #ffffff;
text-align: center;
width: auto;
}
.XXX{
  text-align: right;
  color: rgb(8, 10, 35);
}
.abb{
  float: right;
  font-size: smaller;
}
footer
{
  background-color: black;
}

